<!-- Specify which template we want to extend (ie. the base template.)-->
{% extends 'base.html' %}
<!-- Load the static css file to use with this page. -->
{% load static %}



<!-- New content to override base template with. -->

{% block title %}
Project page
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock extrahead %}

{% block content %}
<p> This is the project page</p>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/project.js' %}"></script>
{% endblock extra_js %}